label {
  display: block;
  min-width: 33%;
}

input[type="text"] {
  width: 100%;
}
textarea,
.bespin {
  display: block;
  width: 100%;
  height: 12em;    
}

*[title] {
  background: transparent url(error.png) no-repeat right center;
}