body, input {
  color: white;
  background: black;
}
label {
  display: block;
  min-width: 33%;
}

input[type="text"] {
  width: 100%;
}
textarea,
.bespin {
  display: block;
  width: 100%;
  height: 20em;    
}

*[error] {
  background: transparent url(error.png) no-repeat right center;
}